.navHeader {
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}

.navbar-dark .navbar-nav .nav-link {
  color: #6a2216 !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #a93723 !important;
}

.badge {
  font-size: 0.55em !important;
}

.image {
  background-image: url("../img/pizza.jpg");
  min-height: 90vh;
  margin: 0 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btnOrder {
  background-color: #e69284;
  font-family: "Roboto Mono", monospace;
  color: #a93723;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
}

.savoryCorner-card {
  background-image: url("../img/savories.jpg");
  height: 40.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}

.savoryCorner-card:hover {
  background-image: url("../img/savories.jpg") no-repeat;
}

.sweetCorner-card {
  background-image: url("../img/doughnuts.jpg");
  height: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}

.drinkCorner-card {
  background-image: url("../img/lime.png");
  height: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}

.breadCorner-card {
  background-image: url("../img/bread-basket.jpg");
  height: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}

.cakeCorner-card {
  background-image: url("../img/berryCake.jpeg");
  height: 40.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}

.vegetarianCorner-card {
  background-image: url("../img/sandwich.jpg");
  height: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}

.card-img-overlay {
  color: azure;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#footer-sentence {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

#footer-content {
  background: -webkit-gradient(linear, left bottom, left top, from(#e69284), to(#f2c7c0));
  background: linear-gradient(to top, #e69284 0%, #f2c7c0 100%);
  color: #6a2216;
}

.itemTag {
  color: #ffffff !important;
  text-decoration: none !important;
}

.savory-header {
  background-image: url("../img/spicy roll.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat !important;
  background-size: cover;
}

.sandwich-card {
  padding-bottom: 22px;
  background-image: url("../img/sandwich.jpg");
  height: 20.5rem;
  width: 31rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.pie-card {
  padding-bottom: 22px;
  background-image: url("../img/pie.jpg");
  height: 20.5rem;
  width: 31rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.burger-card {
  padding-bottom: 22px;
  background-image: url("../img/burger.jpg");
  height: 20.5rem;
  width: 31rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.pastry-card {
  padding-bottom: 22px;
  background-image: url("../img/pastry.jpg");
  height: 20.5rem;
  width: 31rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.roll-card {
  padding-bottom: 22px;
  background-image: url("../img/FISH_CHINESE_ROLLS.jpg");
  height: 20.5rem;
  width: 31rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.bun-card {
  padding-bottom: 22px;
  background-image: url("../img/fish bun.jpg");
  height: 20.5rem;
  width: 31rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.middle-left {
  padding-bottom: 22px;
}

.bottom-left {
  padding-bottom: 22px;
}

.card-img {
  color: azure;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 2rem;
  margin: auto;
}

.cake-card {
  padding-bottom: 22px;
  background-image: url("../img/ecliars.jpeg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.muffins-card {
  background-image: url("../img/muffins.jpeg");
  height: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.doughnut-card {
  background-image: url("../img/doughnut.jpeg");
  height: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.coolDrink-card {
  padding-bottom: 22px;
  background-image: url("../img/cherry.jpg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.hotDrink-card {
  padding-bottom: 22px;
  background-image: url("../img/tea.jpg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.healthyBread-card {
  padding-bottom: 22px;
  background-image: url("../img/grain bread.jpeg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.typicalBread-card {
  padding-bottom: 22px;
  background-image: url("../img/bread.jpg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.savory-veg-card {
  padding-bottom: 22px;
  background-image: url("../img/samosa.jpg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.sweet-veg-card {
  padding-bottom: 22px;
  background-image: url("../img/sweet bun.jpg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.cakePiece-card {
  padding-bottom: 22px;
  background-image: url("../img/cakes pieces.jpg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.icingCake-card {
  padding-bottom: 22px;
  background-image: url("../img/berryCake.jpeg");
  height: 40.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.cart-btn {
  background-color: #e69284 !important;
  text-align: center;
  height: 40px;
  border: none;
  color: #6a2216;
}

.cart-header {
  font-family: "Lobster", cursive;
  color: #e69284;
}

.btnCartItemDelete {
  font-size: x-small;
  background-color: none !important;
}

.vl {
  border-left: 2px solid #e69284;
  height: 525px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.form-control:focus {
  border-color: #e69284 !important;
  -webkit-box-shadow: 0 0 0 0.25rem #f1c3bb !important;
          box-shadow: 0 0 0 0.25rem #f1c3bb !important;
}
/*# sourceMappingURL=style.css.map */